/**********************************************************************/
/*                               Header                               */
/**********************************************************************/
header {
	background-color : #292E37;
}

a.navbar-brand {
	color : white;
	font-family : Palatino;
	background-color : #292E37;
	font-style : italic;
	font-size : 2.5em;
	border-radius : 5px;
	text-shadow : 2px 1px 3px black;
}

/**********************************************************************/
/*                                Nav                                 */
/**********************************************************************/
nav {
	background-color : #292E37;
}

li a {
	color : white;
	text-shadow : 2px 1px 3px black;
	font-family : Palatino;
	font-size : 1.5em;  
}

li a:hover, li a:focus {
	color : #292E37;
	text-shadow : none;
}

/**********************************************************************/
/*                               Footer                               */
/**********************************************************************/

/**********************************************************************/
/*                                Home                                */
/**********************************************************************/
#carousel_container {
	height : 80%;
}

img.slide {
	width : 100%;
	height : 100%;
}

.owl-prev span, .owl-next span {
	font-size : 30px;
}

#info {
	height : 40%;
}

#services, #invest, #plan {
	height : 100%;
	text-align : center;
}

/**********************************************************************/
/*                              Services                              */
/**********************************************************************/
#services_view {
	height : 80%;
}

/**********************************************************************/
/*                              Guarentee                             */
/**********************************************************************/
#guarentee_view {
	height : 80%;
}

/**********************************************************************/
/*                               Invest                               */
/**********************************************************************/
#invest_view {
	height : 80%;
}

/**********************************************************************/
/*                              Careers                               */
/**********************************************************************/
#careers_view {
	height : 80%;
}

/**********************************************************************/
/*                               About                                */
/**********************************************************************/
#about_view {
	height : 80%;
}

/**********************************************************************/
/*                               Error                                */
/**********************************************************************/
#error {
	height : 80%;
	color : #292E37;
}








